@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/fonts.css';
@import './styles/custom-backgrounds.css';
@import './styles/custom-carousal.css';
@import './styles/social-links.css';

:root {
  --customBlack: rgb(16, 17, 24);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gotham-Book', 'Gotham-Ultra', 'Gotham-Regular';
}




