@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/fonts.css';
@import './styles/custom-backgrounds.css';
@import './styles/custom-carousal.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gotham-Book', 'Gotham-Ultra';
}

.bg-custom {
  background-image: url('/riyadh-rising-bg-image.jpg');
  background-size: cover;
  background-position: center;
}

.bg-custom1 {
  background-image: url('/images/eh-01.jpg');
  background-size: cover;
  background-position: center;
}
