.bg-custom-why-riyadh {
  background: linear-gradient(
    8.25deg,
    #101118 1.96%,
    #10141a 32.08%,
    #101d23 54.16%,
    #102d33 75.25%,
    #104448 93.32%,
    #105255 102.36%
  );
}

.bg-section-title-circle {
  background: linear-gradient(
    135deg,
    #66fcf1 14.65%,
    #56e1d8 20.31%,
    #248786 39.39%,
    #106466 48.59%,
    #166d67 57.78%,
    #26886c 74.04%,
    #35a070 85.35%
  );
}

.bg-custom-corousal-dots {
  background: linear-gradient(
    90deg,
    #66fcf1 0%,
    #56e1d8 8%,
    #248786 35%,
    #106466 48%,
    #166d67 61%,
    #26886c 84%,
    #35a070 100%
  );
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}

.bg-custom-home {
  background-image: url('/images/riyadh-rising-bg-image.jpg');
  background-size: cover;
  background-position: center;
}
